* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Rubik', sans-serif;
}

header {
  padding: 50px 5rem;
}

header .menu {
  visibility: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 8%;
}

.logo span {
  font-weight: bold;
}

.logo i {
  width: 20%;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

ul li {
  list-style: none;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14%;
  cursor: pointer;

}

.btn a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-weight: bold;
  text-align: center;
}

.btn button {
  padding: 10px 20px;
  border-radius: 20px;
  color: #F53855;
  border: 1px solid #F53855;
  background: transparent;

}

section {
  padding: 10px 5rem;
  margin-top: 3rem;
}

.banner {
  display: flex;

}

.info h3 {
  color: #0B132A;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  line-height: 70px;
}

.info-span {
  font-weight: 700;
}

.info p {
  line-height: 30px;
  margin: 20px 0px 0px 0px;
  font-weight: 400px;
}

.info button {
  width: 250px;
  height: 60px;
  background-color: #F53855;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: #F53855;
  outline: none;
  margin-top: 10%;
  box-shadow: 0px 11px 2px rgba(245, 56, 56, 0.35);
}


.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 120px;
  box-shadow: 5px 10px 9px 10px rgb(200, 195, 195);
}

.details p {
  font-weight: bold;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

#details-user {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
}

#details-user i {
  color: #F53855;
  color: #F53855;
  background-color: #ecabb5;
  width: 34px;
  padding: 8px;
  border-radius: 14px;
  height: 34px;
  margin-top: 2px;
  text-align: center;
  border-radius: 50%;
}

#details-user span {
  display: block;
  font-weight: normal;
  color: #4F5665;
}

#details-location {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
}

#details-location i {
  color: #F53855;
  color: #F53855;
  background-color: #ecabb5;
  width: 34px;
  padding: 8px;
  border-radius: 14px;
  height: 34px;
  margin-top: 2px;
  text-align: center;
  border-radius: 50%;
}

#details-location span {
  display: block;
  font-weight: normal;
  color: #4F5665;
}

#details-server {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
}

#details-server i {
  color: #F53855;
  background-color: #ecabb5;
  width: 34px;
  padding: 8px;
  border-radius: 14px;
  height: 34px;
  margin-top: 2px;
  text-align: center;
  border-radius: 50%;
}

#details-server span {
  display: block;
  font-weight: normal;
  color: #4F5665;
}

.features {
  display: flex;
  gap: 20%;
  margin-bottom: 15px;
}

.features-list img {
  width: 5%;
  margin-top: 0px;
}

.list-items {
  display: flex;
  gap: 5px;
  align-items: center;
  line-height: 2rem;

}

.features-list {
  flex-basis: 30%;
  margin-top: 35px;
}

.features-list h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.features-list p {
  line-height: 1.4rem;
  margin-bottom: 25px;
}

.features-list ol li {
  margin-bottom: 9%;
}

.plan-details {
  background-color: #F8F8F8;
}

.plan-details h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.plan-details p {
  text-align: center;
  margin-bottom: 20px;
}

.plan {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;

}

.plan h4 {
  text-align: center;
  margin: 20px 0px;
}

.free img,
.standard img,
.premium img {
  display: block;
  margin: 5px auto;
}

.plan p {
  margin-bottom: 25px;
  padding-left: 30%;
  text-align: start;
}


.free,
.standard,
.premium {
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}



.plan-bottom {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.plan-bottom button {
  padding: 10px 30px;
}

.plan-btn button {
  padding: 10px 40px;
  border-radius: 50px;
  color: #F53855;
  border: 2px solid #F53855;
  background: transparent;
  cursor: pointer;

}

.plan-month {
  color: #878484;
}

.network-details {
  width: 100%;
  margin: 15px auto;
}

.network-details h3 {
  color: #0B132A;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  width: 383px;
  margin: auto;
}

.network-details p {
  width: 555px;
  line-height: 30px;
  font-weight: 400;
  color: #4F5665;
  font-size: 16px;
  text-align: center;
  margin: auto;
  margin-bottom: 140px;
}

.brand-name {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-bottom: 30px;
  align-items: center;
  text-align: center;
}

.about-costumer {
  width: 100%;

}

.about-costumer h3 {
  color: #0B132A;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  width: 447px;
  margin: auto;
}

.about-costumer p {
  width: 555px;
  line-height: 30px;
  font-weight: 400;
  color: #4F5665;
  font-size: 16px;
  text-align: center;
  margin: auto;
}


@media screen and (max-width: 600px) {
  nav {
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  header .menu {
    visibility: visible;
    font-size: 25px;
    font-weight: bold;
  }
}